@import "settings";
@import "foundation";
@import "foundation/components/top-bar";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/************** ESTILOS ************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Montserrat', sans-serif;

    h1{font-size:54px;font-family: 'Montserrat', sans-serif;color:$white;text-transform: uppercase;font-weight: 700;}
   	h2{font-size:48px;font-family: 'Montserrat', sans-serif;font-weight: 700;}
    h3{font-size:28px;font-family: 'Montserrat', sans-serif;}
    h4{font-size:20px;font-family: 'Montserrat', sans-serif;}

    @media only screen and (max-width: 960px) {
      h2{font-size:30px;}
    }

    ul{
      margin: 0;
    	li{list-style: none;}
    }
  select,input[type=submit],input[type=button]{
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s ease 0s;
  }
  textarea,input[type=text],select{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    resize:none;
    font-size: 16px;
  }
  label{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    resize:none;
    font-size: 18px;
  }
  p{line-height: 21px;font-family: 'Montserrat', sans-serif;font-size: 16px;}
  p span{color: $black;}
  a{transition: 0.5s ease 0s;font-weight: 500;}
  a:hover{color: $primary-color;}

  hr{margin: 30px 0;float: left;width: 100%;}
  address{font-style: normal;}
  button:focus, .button:focus{background-color: inherit!important;}

  input:not([type]), input[type="text"], input[type="password"], input[type="date"],
  input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"],
  input[type="email"], input[type="number"],input[type="search"], input[type="tel"], input[type="time"],
  input[type="url"], input[type="color"], textarea, select{ font-family: 'Montserrat', sans-serif;}
}

label{
	@media only screen and (max-width: 550px) {font-size: 15px!important;}
}
label.error{
	float: left;
	width: 100%;
    font-size: 14px !important;
    padding: 5px;
}
.row{
  position:relative;
}

.central{
  @include grid-row();
  position:relative;
  max-width: 1300px; /* TOTAL DO ROW */
  padding: 0 20px; /* Desconto das laterais */
}

*::-moz-placeholder{color: $black}

/****************** TOPO *******************/

header{
  float: left;
  width: 100%;
  position: relative;

  @media #{$small-only} {
   
  }
  
  .faixa_top_header{
    float: left;
    width: 100%;
    padding: 15px 0;
    background: $primary-color;

    .link_tel{
      float: right;
      color: #FFF;
      font-weight: 500;
      margin: 7px 15px 7px 0;

      &:hover{color: $secondary-color;}

      @media only screen and (max-width: 600px) {
        float: left;
        font-size: 15px;
      }
    }

    .box_redes{
      float: right;

      li{
        float: left;
        margin: 0 5px;
        @media only screen and (max-width: 600px) {
          margin: 0 3px;
        }

        a{
          width: 40px;
          height: 40px;
          text-align: center;
          color: $primary-color;
          background: #FFFFFF;
          display: block;
          font-size: 26px;
          border-radius: 100%;

          &:hover{color: $secondary-color;}

          @media only screen and (max-width: 600px) {
            width: 30px;
            height: 30px;
            font-size: 20px!important;
            padding-top: 1px!important;
            i{font-size: 20px!important;}
          }
        }
      }
    }
  }

  .top_header{
    float: left;
    width: 100%;
    padding: 10px 0;

    @media #{$small-only}{ 
      padding: 0;
    }

    h1{
      float: left;
      margin: 0;
      a{float: left;}
      img{max-width: 110px;}

      @media #{$small-only}{ 
        img{max-width: 70px;margin-top: -10px;}
      }
    }
    
    p{
      font-size: 34px;
      text-align: center;
      line-height: 37px;
      color: $white;
      font-family: 'Montserrat', sans-serif;
      position: relative;
      margin-bottom: 50px;

      img{left:20px;top:14px;position: absolute;}
      .r_side{left: inherit;right:20px;}

      @media only screen and (max-width: 1480px) {
        font-size: 30px;

      }
      @media only screen and (max-width: 1320px) {
        font-size: 25px;
        img{max-height: 30px;}
      }
      @media only screen and (max-width: 1120px) {
        img{max-height: 25px;}
      }


      span{color: $white;text-align: center;position: relative;z-index: 9;}

      @media #{$small-only} {
        img{display: none;}

        font-size:20px;
      }
    }

  }

  .top-bar{
    float: right;
    margin-top: 40px;
    background: none!important;

    .top-bar-section ul{margin-top: 58px;}

    @media #{$small-only} {
      margin-top: 0;
      width: 100%;
      position: absolute;
      right: 0;

      .top-bar-section ul .dropdown{margin-top: 0;}
    }

    .top-bar-section li,
    .top-bar-section li:not(.has-form) a:not(.button){background: none;}

    li{
      a{
        font-family: 'Montserrat', sans-serif;
        color: $primary-color;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px!important;
        border-left: 2px solid $primary-color;
        
        &:hover,&:focus,&:active{color: $secondary-color!important;}

        @media only screen and (max-width: 1120px) {
          font-size: 17px;
        }

      } 
      &:first-child{
        a{border: none;}
      }
    }   
    .has-dropdown > a {
      padding-right: 1rem !important;
    }

    .dropdown{margin-top: 12px;}

    .top-bar-section .dropdown li{
      margin: 0 0 1px;

      @media #{$small-only} {
        margin: 0;
      }
      a{
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        color: $primary-color!important;
        background: $secondary-color!important;

        &:hover{
          background: $primary-color!important;
          color: $secondary-color!important;
        }
      }
    }
  } 
}

/********** MENU **********/

.top-bar .toggle-topbar.menu-icon{margin-top: 20px!important;top: auto;right: 10px;}

.top-bar .title-area{}
.top-bar .toggle-topbar.menu-icon a span::after{box-shadow: 0 0 0 1px $primary-color, 0 7px 0 1px $primary-color, 0 14px 0 1px $primary-color;}

.top-bar-section li:not(.has-form) a:not(.button){background: none;}
.title-area{z-index: 9999;}

.menu_fechar{
  display: none!important;
  z-index: 99999;
  a{font-size: 20px!important;color: $white!important;}
}
.top-bar.expanded{
  overflow: visible;

  .menu_fechar{display:block!important;position: absolute;left: 230px;top: 10px;}

}
  .top-bar.expanded .title-area{background: none!important;}
  .top-bar.expanded .toggle-topbar a span::after{
    box-shadow: 0 0 0 1px $primary-color, 0 7px 0 1px $primary-color, 0 14px 0 1px $primary-color;
  }
.top-bar.expanded .top-bar-section{
  top: 16px;
  z-index: 99999;
  li{
    padding: 0!important;
    background: $primary-color;
    &:hover a{background:none;}
  }
  a{
    color: $white;
    padding: 6px 40px!important;
    text-align: center;

    @media #{$small-only} {
      padding: 9px 40px!important;
      border-bottom: 1px solid!important;
    }
  }
}


/****************** FOOTER *******************/

footer{
  float: left;
  width: 100%;
  padding: 0;
  color: $primary-color;
  position: relative;
  text-align: center;
  background: $primary-color;

  a{color: $white;}
  .lcol{
    @include grid-column(6);
    padding: 40px 0;
    min-height: 290px;

    img{max-width: 270px;margin-top: 20px;}

    @media only screen and (max-width: 960px) {
      img{max-width: 180px;margin-top: 20px;}
    }
    
    @media only screen and (max-width: 600px) {
      @include grid-column(12);
      min-height: auto;
      padding: 10px 0 30px;
    }
  }
  .rcol{
    @include grid-column(6);
    padding: 40px 0;
    min-height: 290px;
    text-align: left;

    @media only screen and (max-width: 600px) {
      @include grid-column(12);
      min-height: auto;
      padding: 0 0 40px;
    }

    .box_centro{display: table;margin: 0 auto;}
    a{
      float: left;
      clear: both;
      font-size: 21px;
      margin: 7px 0;
      line-height: 25px;

      span{margin-top: 7px;float: left;}
      i{
        float: left;
        width: 47px;
        height: 47px;
        text-align: center;
        color: $primary-color;
        background: #FFFFFF;
        display: block;
        font-size: 24px;
        margin-right: 15px;
        padding-top: 11px;
        border-radius: 100%;
      }

      &:hover{color: $secondary-color;}
    }
    .box_redes{
      display: table;
      margin: 0 auto;
      li{
        float: left;
        margin: 0 5px;

        a{
          width: 47px;
          height: 47px;
          text-align: center;
          color: $primary-color;
          background: #FFFFFF;
          display: block;
          font-size: 40px;
          border-radius: 100%;

          i{margin-right: 0;font-size: 25px;}
          &:hover{color: $secondary-color;}
        }
      }
    }

    @media only screen and (max-width: 960px) {
      a{
        font-size: 16px;

        i{width: 40px;height: 40px;font-size: 20px;}
      }
      .box_redes{
        a i{margin-left: 3px;}
      }
    }
  }
}


/****************** HOME *******************/

#noticias{
  float: left;
  width: 100%;
  min-height: 210px;

  h2{margin: 0 15px 20px;color: $primary-color;}

  @media only screen and (max-width: 600px) {
    
    h2{width: 100%;text-align: center;}
  }

  ul{
    li{
      a{
        .img_box{
          position: relative;
          width: 100%;
          height: 225px;
          overflow: hidden;
          img{position: absolute;width: 100%;}

          @media only screen and (max-width: 1190px) {
            height: 185px;
          }
          @media only screen and (max-width: 961px) {
            height: 140px;
          }
        }
        h4{
          font-size: 17px;
          height: 80px;
          margin-top: 10px;
          color: $black;
          @media only screen and (max-width: 961px) {
            font-size: 15px;
            height: 100px;
          }
        }
        &:hover{
          h4{color: $primary-color;}
        }
      }
    }
    @media only screen and (max-width: 961px) {
      .col_4{@include grid-column(6);}
    }
    @media only screen and (max-width: 500px) {
      .col_4{@include grid-column(12);}
    }
  }
}

#servicos{
  float: left;
  width: 100%;
  min-height: 210px;
  padding: 40px 0 20px;
  background: $white;
  h2{color:$primary-color;float: left;}
  img{float: right;max-width: 180px;}

  @media only screen and (max-width: 600px) {
    padding-bottom: 0;
    text-align: center;
    h2{width: 100%;text-align: center;}
    img{float: none;}
  }
  ul{
    float: left;
    width: 100%;
    margin: 20px 0;

     @media only screen and (max-width: 600px) {
      margin-bottom: 0;
     }
    li{
      font-size: 16px;
      line-height: 22px;

      a{
        float: left;
        width: 100%;
        text-align: center;
        color:$primary-color;
        font-weight: 500;
        i{
          display: block;
          width: 130px;
          height: 130px;
          margin: 20px auto;
          border-radius: 100%;
          background-size: 85px!important;
          box-shadow: 4px 0px $primary-color;
        }
        .ico_1{background:url(../img/ico_1.png) no-repeat center center $secondary-color;}
        .ico_2{background:url(../img/ico_2.png) no-repeat center center $secondary-color;}
        .ico_3{background:url(../img/ico_3.png) no-repeat center center $secondary-color;}
        .ico_4{background:url(../img/ico_4.png) no-repeat center center $secondary-color;}
        .ico_5{background:url(../img/ico_5.png) no-repeat center center $secondary-color;}
        .ico_6{background:url(../img/ico_6.png) no-repeat center center $secondary-color;}

        &:hover{
          color: $secondary-color;
          .ico_1{background:url(../img/ico_1a.png) no-repeat center center $primary-color;
            box-shadow: 4px 0px $secondary-color;}
          .ico_2{background:url(../img/ico_2a.png) no-repeat center center $primary-color;
            box-shadow: 4px 0px $secondary-color}
          .ico_3{background:url(../img/ico_3a.png) no-repeat center center $primary-color;
          box-shadow: 4px 0px $secondary-color}
          .ico_4{background:url(../img/ico_4a.png) no-repeat center center $primary-color;
          box-shadow: 4px 0px $secondary-color}
          .ico_5{background:url(../img/ico_5a.png) no-repeat center center $primary-color;
          box-shadow: 4px 0px $secondary-color}
          .ico_6{background:url(../img/ico_6a.png) no-repeat center center $primary-color;
          box-shadow: 4px 0px $secondary-color}
        }
      }
    }
    @media only screen and (max-width: 960px) {
      .col_2{@include grid-column(4);min-height: 240px;}
    }
    @media only screen and (max-width: 600px) {
      .col_2{
        @include grid-column(6);
        min-height: 210px;

        i{
          width: 90px;
          height: 90px;
          background-size: 55px !important;
        }
      }
    }
  }
}

#modelos{
  float: left;
  width: 100%;
  padding: 20px 0;
  h2{color:$primary-color;float: left;}

  @media only screen and (max-width: 600px) {
    text-align: center;
    h2{width: 100%;text-align: center;}
  }

  ul{
    float: left;
    width: 100%;
    li{
      @include grid-column(2);
      a{
        float: left;
        width: 100%;
        line-height: 24px;
        i{
          display: block;
          width: 130px;
          height: 130px;
          margin: 20px auto;
          background:url(../img/ico_certidao.png) no-repeat center center;
          background-size: 100%!important;
        }
        span{padding: 0 15px 10px;float: left;}

        &:hover{
          background: $primary-color;
          color: $white;
          i{
            background:url(../img/ico_certidao2.png) no-repeat center center;
          }
        }
      }

      @media only screen and (max-width: 960px) {
        @include grid-column(4);
      }
      @media only screen and (max-width: 500px) {
        @include grid-column(6);

        a{
          font-size: 14px;
          line-height: 20px;
          text-align: center;

          i{
            width: 80px;
            height: 80px;
          }
        }

      }
    }
  }

}

/****************** INSTITUCIONAL *******************/

#banner_interno{
  float: left;

}

#box_institucional{
  float: left;
  width: 100%;

  .central{max-width: 1150px;}

  .conteudo_text{
    padding: 40px 0;

    p{line-height: 23px;font-size: 17px;font-weight: 500;}

    h2{
      color: $primary-color;
      font-size: 36px;
      margin-bottom: 30px;
      text-align: center;
      span{
        margin: 0 auto;
        display: table;
        width: 80px;
        border-bottom: 4px solid $primary-color;
      }
    }
    h3{color: $primary-color;margin-bottom: 20px;font-weight: 600;}
    .col_3,.col_9{margin-bottom: 20px;}

    h4{
      margin-top: 0;
      span{font-size: 18px;}
    }

    table td{font-weight: 500;}
  }

  #servicos{
    background: $white;
    padding: 0!important;

    p a{
      font-weight: 600;

      &:hover{color: $secondary-color;}
    }

    ul{
      li{
        font-size: 16px;
        line-height: 22px;

        a{
          float: left;
          width: 100%;
          text-align: center;
          color:$primary-color;
          font-weight: 500;
          i{
            display: block;
            width: 130px;
            height: 130px;
            margin: 20px auto;
            border-radius: 100%;
            border: solid 2px $primary-color;
            background-size: 85px!important;
          }
        }
      }   
    }
  }
}

.box_links{
  a:hover{color: $secondary-color;}
}

/****************** PAGE NOTICIAS *******************/

#box_noticias{
  @include grid-column(12);
  padding: 0;

  .lista_noticias{
    float: left;
    width: 100%;
    border-bottom: 5px solid $primary-color;
    padding: 30px 0;

    .img_box{
      @include grid-column(4);
      a{float: left;width: 100%;}
    }

    .text_box{
      @include grid-column(8);
      h3{color: $primary-color;}
      p{font-size: 15px;line-height: 23px;}
      span{font-size: 18px;margin-bottom: 15px;display: block;}
    }
  }

  .int_noticias{
    float: left;
    width: 100%;
    padding: 0 0 30px;
    .img_box{
      @include grid-column(12);
      text-align: center;
      margin-bottom: 20px;
    }

    .text_box{
      @include grid-column(12);
      h3{color: $primary-color;font-size: 31px;margin-bottom: 0;}
      p{font-size: 15px;line-height: 23px;float: left;width: 100%;}
      span{font-size: 18px;margin-bottom: 15px;display: block;}
    }
  }
  
}

/************ PAGINA CONTATO ***********/

#contato{
  float: left;
  width: 100%;
  padding: 20px 0;

  .title_box{
    float: left;
    width: 100%;
    margin: 10px 0;
    background: #cbcbcb;
    h2{
      color: $primary-color;
      margin: 0 auto;
      font-weight: 800;
      padding: 30px 25px;
      img{max-width: 65px;margin: 0 10px;}
    }
  }

  .box_contato{
    width: 80%;
    margin: 0 auto;
    display: table;

    p{
      font-size: 20px;
      text-align: center;
      line-height: 31px;
      margin: 20px 0;
    }

    form{
      background: #dfdfdf;
      padding: 40px 20px 10px;
      border-radius: 10px;
      float: left;
      width: 100%;
    }
    input[type=text]{
      padding: 5px 10px;
      color: $primary-color;
      background: none;
      height: 47px;
      border-radius: 8px;
      background: #FFF;
      font-size: 19px;

      @media only screen and (max-width: 800px) {
        height: 40px;
        font-size: 16px;
      }
    }
    input[type=submit]{
      display: table;
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
      height: 47px;
      text-align: center;
      color: $white;
      background:$primary-color;
      border: none;
      border-radius: 17px;
      font-size: 20px;

      &:hover{border-color: $secondary-color;background: $secondary-color;}

      @media only screen and (max-width: 800px) {
        max-width: 100%;
        font-size: 16px;
      }
    }
  }
}

/****************** CLASSES EXTRAS *******************/

#banner{
  .orbit-bullets-container{display: none!important;}

  .orbit-container .orbit-prev, .orbit-container .orbit-next{top: 50%;}

  .orbit-container .orbit-prev > span, .orbit-container .orbit-next > span{
    border-width: 30px;
  }
  .orbit-container .orbit-next,.orbit-container .orbit-prev{background: none;}
  .orbit-container .orbit-next {
    right: 40px;
  }

  span.nome_foto{
    position: absolute;
    bottom: 90px;
    right: -60px;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
    transform: rotate(-90deg);
    text-shadow: 1px 1px 1px #000;
  }
}

.btn_ver{
  float: right;
  color: $white;
  padding: 5px 30px;
  font-size: 16px;
  border-radius: 8px;
  text-transform: uppercase;
  border: solid 2px $primary-color;
  background: $primary-color;

  &:hover{border-color: $primary-color;background: $white;}
}

.btn_veja{
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
  margin: 30px auto 0;
  display: table;
  color: $white;
  &:hover{color: $secondary-color;}
}

.linha_paginacao{
  margin: 0 auto;
  display: table;
  padding: 20px 0;
}


.align_left{text-align: left!important;}

.col_2{@include grid-column(2);}
.col_3{@include grid-column(3);}
.col_4{@include grid-column(4);}
.col_5{@include grid-column(5);}
.col_6{@include grid-column(6);}
.col_8{@include grid-column(8);}
.col_9{@include grid-column(9);}
.col_12{@include grid-column(12);}

@media only screen and (max-width: 960px) {
  .col_4,.col_6,.col_8{@include grid-column(12);}
}

.orbit-slide-number,.orbit-timer {display: none;}
.orbit-container .orbit-prev, .orbit-container .orbit-next{
  top: 60px;

  @media #{$small-only} {
    top: 200px;
    display: block;
  }
}
.orbit-container .orbit-prev:hover span{border-right-color: $primary-color;}
.orbit-container .orbit-next:hover span{border-left-color: $primary-color;}

.title_page{
  font-size: 40px;
  margin: 10px auto 35px;
  padding-bottom: 12px;
  border-bottom: 4px solid $primary-color;
  text-align: center;
  display: table;
  width: auto;
  line-height: 33px;
  text-transform: uppercase;

  @media #{$small-only} {
    font-size: 30px;
    line-height: 28px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


